doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Movie Agenda
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='main.css')
    link(href='http://fonts.googleapis.com/css?family=Fugaz+One|Crete+Round|Hind' rel='stylesheet' type='text/css')

  body
    .header
      h1 Movie Agenda
    .container
      .row
        .forms-wrapper.col-md-4.col-sm-12
          form
            p Movie lookup
            input.textfield(type='text')
            button.submit.btn.btn-primary.btn-block.
              Search
        .movie-info.col-md-8.col-sm-12
      .movie-table-container.table-responsive
      .footer
        a(href='https://www.themoviedb.org/')
          img(src='https://d3a8mw37cqal2z.cloudfront.net/images/logos/var_6_0_tmdb-logo-1Line-GreenGradient-Shadow-Bree.png')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js')
    script(src='main.js')
